/* From Uiverse.io by ammarsaa */
.new-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
  }
  
  .new-title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
  }
  
  .new-title::before,
  .new-title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
  }
  
  .new-title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .new-message, 
  .new-signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .new-signin {
    text-align: center;
  }
  
  .new-signin a {
    color: #00bfff;
  }
  
  .new-signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .new-flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .new-form label {
    position: relative;
  }
  
  .new-form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    font-size: medium;
  }
  
  .new-form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .new-form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .new-form label .input:focus + span,
  .new-form label .input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .new-submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
  }
  
  .new-submit:hover {
    background-color: #00bfff96;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  
  .login-page-background {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link-button {
    background: none;
    border: none;
    color: #00bfff;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-size: 14.5px;
    margin-left: 6px;
  }
  
  .link-button:hover {
    text-decoration: underline;
  }
  
  .forgot-password {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin: 8px 0 14px 0;
  }